process {
    withName: 'bam_compare' {
        ext.argsDefault = [
            '--scaleFactorsMethod': 'readCount',
            '--operation': 'log2',
            '--binSize': '1',
            '--normalizeUsing': 'None',
            '--exactScaling': '',
        ]
    }

    withName: 'bam_coverage' {
        ext.argsDefault = [
            '--binSize': '1',
            '--normalizeUsing': 'None',
            '--exactScaling': '',
        ]
    }

    withName: 'bwa_mem2_index' {
        ext.argsDefault = [:]
    }

    withName: 'bwa_mem2_mem' {
        ext.argsDefault = [:]
    }

    withName: 'chipqc' {
        // ChIPQC is an Rscript so the dynamic args don't work here. Just directly inject them instead.
        ext.chipqcConstructorArgs = ''
        ext.chipqcReportArgs      = ''
    }

    withName: 'cutadapt' {
        ext.argsDefault = [
            '--adapter': 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT',
            '--minimum-length': 30,
        ]
        ext.argsDynamic = {
            def dynamicMap = [:]

            // set dynamic arguments for paired-end reads
            if (metadata.readType == 'paired') {
                // set adapter to trim for R2 read
                dynamicMap.put('-A', 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCAC')
            }

            return dynamicMap
        }
    }
    
    withName: 'fastp' {
        ext.argsDefault = [
            '--trim_poly_g': '',
            '--length_required': '31',
        ]
    }

    withName: 'fastqc' {
        ext.argsDefault = [:]
    }

    withName: 'gatk_MarkDuplicates' {
        ext.argsDefault = [
            '--VALIDATION_STRINGENCY': 'SILENT',
            '--OPTICAL_DUPLICATE_PIXEL_DISTANCE': '2500',
        ]
    }

    withName: 'gatk_MergeSamFiles' {
        ext.argsDefault = [
            '--VALIDATION_STRINGENCY': 'SILENT',
        ]
    }

    withName: 'khmer_unique_kmers' {
        ext.argsDefault = [
            '--ksize': '100'
        ]
    }

    withName: 'MAP_READS:samtools_view' {
        /*
            Filter reads
            Keep reads: Mapped in proper pairs
            Drop reads: Multimapped reads
        */
        ext.argsDefault = [
            '--min-MQ': '1',
            '--require-flags': '3',
            '--exclude-flags': '2048',
        ]
    }

    withName: 'multi_bam_summary' {
        ext.argsDefault = [
            '--smartLabels': '',
            '--binSize': '5000',
        ]
    }

    withName: 'multiqc' {
        ext.argsDefault = [:]
    }

    withName: 'phantompeakqualtools' {
        ext.argsDefault = [:]
    }

    withName: 'plot_correlation' {
        ext.argsDefault = [
            '--corMethod':  'spearman',
            '--whatToPlot': 'heatmap',
        ]
    }

    withName: 'plot_pca' {
        ext.argsDefault = [
            '--rowCenter': '',
        ]
    }
}
